extends layout

block content
	.jumbotron.text-center.registrationTitle
		.div
			p #{title}
	
	.container
		ul.errors
			if errors
					each error, i in errors
						li.alert.alert-danger #{error.msg}
			if message
				li.alert.alert-success #{message}
			if messagee
				li.alert.alert-danger #{messagee}

	.div
		.container
			.row
				.col-lg-3.col-sm-6
					.card-box.bg-blue
						.inner
							if (ordersA)
								h3=ordersA
							else
								h3 0
							p  Orders Approved 
						.icon
							i.fa.fa-list-alt(aria-hidden='true')
						a.card-box-footer(href='/orders/getOrders?status=all')
							| View Orders 
							i.fa.fa-arrow-circle-right
				.col-lg-3.col-sm-6
					.card-box.bg-green
						.inner
							h3 Add 
							p  New Order 
						.icon
							i.fa.fa-plus(aria-hidden='true')
						a.card-box-footer(href='/employee/order/add')
							| Add Order 
							i.fa.fa-plus-circle
				.col-lg-3.col-sm-6
					.card-box.bg-orange
						.inner
							if (ordersS)
								h3=ordersS
							else
								h3 0
							p  Orders to Submit 
						.icon
							i.fa.fa-check(aria-hidden='true')
						a.card-box-footer(href='/orders/getOrders?status=todo')
							| Submit Order 
							i.fa.fa-check-circle
				.col-lg-3.col-sm-6
					.card-box.bg-red
						.inner
							h3 Hi  
							p=session.username  
						.icon
							i.fa.fa-user
						a.card-box-footer(href='/users/account')
							| My Account 
							i.fa.fa-arrow-circle-right

		br
		br
		br
		br
		br
		br
		
		