extends layout

block content
	.jumbotron.text-center.registrationTitle
		.div
			p #{title}

	.container
		ul.errors
			if errors
					each error, i in errors
						li.alert.alert-danger #{error.msg}
	.div.addorder
		form.addorderform#addorderform(method='post' action='/employee/order/accept' dataType='json')
			div.row
				div.col
					label
						p.label-txt Order Number:
						input.input(type='text' name='ordernumber' value=order[0].orderNum onkeydown='return false;')
						order.orderNum
				div.col
					label
						p.label-txt Order Status:
						input.input(type='text' name='orderstatus' value='IN PROGRESS' onkeydown='return false;')
			div.row
				div.col
					label
						p.label-txt Ordered by:
						input.input(type='text' name='orderedby' value=order[0].orderBy onkeydown='return false;')
				div.col
					label
						p.label-txt Department:
						input.input(type='text' name='orderdepartment' value=order[0].orderDpt onkeydown='return false;')
			div.row
				div.col
					label
						p.label-txt Shipping Address:
						input.input(type='text' name='shipping' value=order[0].orderShippingAdd onkeydown='return false;')
				div.col
					label
						p.label-txt Supervisor:
						input.input(type='text' name='supervisor' value=order[0].orderSupervisor onkeydown='return false;') 				
					
			label
				p.label-txt Description:
				input.input(type='text' name='orderdescription' placeholder='Please write a brief description for this order.')
				.line-box
				.line

			table.table.table-striped.table-borderless.table-hover#productstable(style='width:100%', border='1' name='productsdetail')
				thead.thead-dark
					tr
						th(scope='col') Product
						th(scope='col') Supplier
						th(scope='col') Category
						th(scope='col') Quantity
						th(scope='col') Unit Price
						th(scope='col') Available
						th(scope='col') 
				tbody
				each row in rows
					tr
						th(scope='row')= row.ProductName
						td= row.SupplierName
						td= row.Category
						td
							input.input.qinput(type='number' min="0")
						td= row.UnitPrice
						td= row.StockAvailability
						td
							input.addorderbutton.btn-danger(id= row.ProductID, type='button', value='Delete', onclick='deleteRow()')

			select#ProductSelected.btn.btn-primary.dropdown-toggle(name='ProductSelected')
				each product in products
					option(value=product.ProductID) #{product.ProductName}

			a#addbutton.addorderbutton(onclick='add()') Add
					
			br
			br
			
			button#savebutton.addorderbutton(name='accept' type='submit' value='save') Save
			button#submitbutton.addorderbutton(name='accept' type='submit' value='submit') Submit
			a#cancelbutton.addorderbutton(href='/order/cancel') Cancel

	
		
		
		script.
			var add = function() {
				var table = document.getElementById("productstable");
				var newrow = table.insertRow(-1);

				var col1 = newrow.insertCell(0);
				var col2 = newrow.insertCell(1);
				var col3 = newrow.insertCell(2);
				var col4 = newrow.insertCell(3);
				var col5 = newrow.insertCell(4);
				var col6 = newrow.insertCell(5);
				var col7 = newrow.insertCell(6);

				var productselindex = document.getElementById('ProductSelected').selectedIndex;
				
				var productlist = !{JSON.stringify(products)};

				var productsel = productlist[productselindex];

				col1.innerHTML = "<input class='input' type='hidden'name='productID' value='"+productsel.ProductID+"'>"+productsel.ProductName;
				col2.innerHTML = productsel.SupplierName;
				col3.innerHTML = productsel.Category;
				col4.innerHTML = "<input class='input qinput' type='number' min='0' value='1' name='quantity'>";
				col5.innerHTML = productsel.UnitPrice;
				col6.innerHTML = productsel.StockAvailability;
				col7.innerHTML = "<input class='addorderbutton btn-danger' type='button' name='Delete' value='Delete' onclick='deleteRow(this)'>";
			
			}

		script.
			var deleteRow = function(r) {
				
				var i = r.parentNode.parentNode.rowIndex;
				document.getElementById("productstable").deleteRow(i);
				console.log("delete");
			
			}

			