extends layout

block content
  .jumbotron.text-center.registrationTitle
    .div
      if session.role == "ordersupervisor"
        p #{title} Dept Supervisor
      else
        p #{title} #{session.role}

    .div.dashboardbutton
      if session.role=='Employee'
        .btn-group.btn-groupe_2
          a.btn.btn-honey_flower(type='button' href="/employeeIndex") Dashboard
          a.btn.btn-honey_flower_2(type='button')
            span.glyphicon.glyphicon-dashboard
      else if session.role=='Supervisor'
        .btn-group.btn-groupe_2
          a.btn.btn-honey_flower(type='button' href="/supervisorIndex") Dashboard
          a.btn.btn-honey_flower_2(type='button')
            span.glyphicon.glyphicon-dashboard
      else if session.role=='ordersupervisor'
        .btn-group.btn-groupe_2
          a.btn.btn-honey_flower(type='button' href="/ordersDeptIndex") Dashboard
          a.btn.btn-honey_flower_2(type='button')
            span.glyphicon.glyphicon-dashboard


  - var n=0, orderid=0, totalCost=0, show='show';
  - var btnType = 'info';
  - var btnSize = 'lg';
    
  .row
    .col-1
    .col-10
      #accordionExample.accordion
        each order in orderdetails
          .card
            div(id="headingOne"+n class="card-header")
              h2.mb-0
                button.btn.btn-link.text-left(type='button' data-toggle='collapse' data-target='#collapse'+n aria-expanded='true' aria-controls='collapse'+n)
                  b.h4 Order # #{order[0].oOrderID}                  
                  |&nbsp &nbsp &nbsp &nbsp &nbsp  &nbsp &nbsp &nbsp &nbsp &nbsp 
                  b.h5.text-secondary By:  #{order[0].oFirstName}  #{order[0].oLastName}
                  |&nbsp &nbsp &nbsp &nbsp &nbsp  &nbsp &nbsp &nbsp &nbsp &nbsp
                  b.h5.text-secondary Status: #{order[0].oOrderStatus}
                  |            
            div(id="collapse"+n class="collapse "+show aria-labelledby="heading"+n data-parent='#accordionExample')
              .card-body  
                div.row
                  div.col-6
                    | Ordered by:                   
                    h4 #{order[0].oFirstName}  #{order[0].oLastName} 
                  div.col-6
                    | Order Status:
                    h4 #{order[0].oOrderStatus}
                br
                div.row
                  div.col-4
                    | Shipping Address:
                    h4 #{order[0].oShippingAddress}
                  div.col-4
                    | Department Name:
                    h4 #{order[0].oDeptName}
                  div.col-4
                    | Total Amount ($):
                    h4 #{order[0].oTotalCost}                  
                br
                - var x=0
                p.text-center List of items in the order
                br
                table.table.table-striped
                  thead.thead-dark.table-borderless.table-hover(style='width:100%', border='1')
                    tr
                      th(scope='col') #
                      th(scope='col') Order ID
                      th(scope='col') Product ID
                      th(scope='col') Product Name
                      th(scope='col') Quantity
                      th(scope='col') Unit Price
                      th(scope='col') Supplier Name
                  tbody
                    each od in order
                      tr
                        th(scope='row') #{++x}
                        td(id='orderid') #{od.oOrderID}  
                        td #{od.oProductID}  
                        td #{od.oProductName}  
                        td #{od.oQuantity}  
                        td $ #{od.oUnitPrice}  
                        td #{od.oSupplierName}  
                br
              if session.role == 'Supervisor'
                .row
                  .col-6.text-center
                    if order[0].oOrderStatus == 'Submitted'
                      a(class='btn submitbutton btn-' + btnType + ' btn-' + btnSize  href='/supervisor/order/approve/'+order[0].oOrderID) Verify and Sign 
                  .col-6.text-center
                    a(class='btn btn-' + btnType + ' btn-' + btnSize  href='/orders/viewOrder?orderId='+order[0].oOrderID) Review Order
              if session.role == 'ordersupervisor'
                .row
                  .col-6.text-center
                    if order[0].oOrderStatus == 'Approved'
                      a(class='btn submitbutton btn-' + btnType + ' btn-' + btnSize  href='/ordersdpt/order/complete/'+order[0].oOrderID) Verify and Complete 
                  .col-6.text-center
                    a(class='btn btn-' + btnType + ' btn-' + btnSize  href='/orders/viewOrder?orderId='+order[0].oOrderID) Review Order
              if session.role == 'Employee'
                .row
                  .col-4
                  .col-4 
                    if order[0].oOrderStatus == 'In Progress'
                      a(class='btn btn-' + btnType + ' btn-' + btnSize  href='/employee/order/edit/'+order[0].oOrderID) Edit Order 
                  .col-4 
                    a(class='btn btn-' + btnType + ' btn-' + btnSize  href='/orders/viewOrder?orderId='+order[0].oOrderID) View order 
              br
          - n++
          -show = '';
      br
      br
  .row
    .col-2 
    .col-8
      
  br
 

